@import '../../../styles/variables';

.main {
  margin-top: 9.8rem;
}

.header {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 2rem;
  width: 100%;

  transition: all 1s linear;
  z-index: 500;

  &__wrap {
    position: relative;

    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    width: 100%;
  }

  &__menu {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__logo {
    cursor: pointer;
  }

  &.active {
    padding: 1rem 0;

    background-color: $blue-color-light-x6;
  }
}

@media (max-width: 1220px) {
  .header {
    padding: 1rem 1.5rem;

    &.active {
      padding: 1rem 1.5rem;
    }
  }
}

@media (max-width: 992px) {
  .main {
    margin-top: 7.4rem;
  }
}

@media (max-width: 576px) {
  .main {
    margin-top: 6rem;
  }
}
