-
  const logosTop = [ 'LOGO CLIENT 1', 'LOGO CLIENT 2', 'LOGO CLIENT 3', 'LOGO CLIENT 4',  ];
  const logosBottom = [ 'LOGO CLIENT 5', 'LOGO CLIENT 6', 'LOGO CLIENT 7', 'More client' ];

mixin Client
   section.client
    .client__wrap
      .container
          .client__head
            h2.client__title Our Beloved Client
            p.client__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          .client__logos.logos
            each logo in logosTop
              .logos__item.logos__item--top= logo
            each logo in logosBottom
              .logos__item.logos__item--bottom= logo
