-
  const setLink = (val) => {
    if (val === 'do') return 'contact';
    if (val === 'about') return 'blog';
  }

mixin Navigation(navItems)
  nav.header__menu.nav#nav
        ul.nav__list.reset-list
          each item in navItems
            li.nav__item
              button.nav__btn(class=`nav__btn--${item.id}` id=item.id)= item.title
              .nav__submenu(id=`${item.id}Submenu`)
                each subMenuItem in item.submenu
                  each title, pathName in subMenuItem
                    a.nav__link(
                      href= `${pathName ? setLink(pathName) + '.html' : '#'}`
                      class= pathName
                    )= title
