mixin Map
  section.map
    .container
      .map__wrap
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5600.585346499452!2d-75.70447749083657!3d45.42360125377564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce045a7a4831e5%3A0xcb7f2bab75407e44!2sWellington%20St%2C%20Ottawa%2C%20ON%20K1A%200A9%2C%20Canada!5e0!3m2!1sen!2sru!4v1655751033305!5m2!1sen!2sru" width="940" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
