$black-color: #000000;
$black-color-light: #00000060;
$black-color-light-X1: #00000020;

$white-color: #ffffff;
$white-color-light: #ffffff60;
$white-color-light-X1: #ffffff64;
$white-color-light-X2: #ffffff40;

$blue-color: #1f3f68;
$blue-color-light: #316099;
$blue-color-light-x1: #356ead;
$blue-color-light-x2: #3481d7;
$blue-color-light-x3: #42a5f5;
$blue-color-light-x4: #5a98d0;
$blue-color-light-x5: #64b5f6;
$blue-color-light-x6: #98c3e8;
$blue-color-light-x7: #98c3e820;
$blue-color-light-x8: #98d0fc;
$blue-color-light-x9: #1f3f6820;
$blue-color-light-x10: #1f3f6860;
$blue-color-light-x11: #356ead80;
$blue-color-light-x12: #1f3f6840;

$yellow-color: #fff8e1;

$red-color: #872727;
$red-color-light: #eb5757;

$purple-color: #af6ced;
$purple-color-light: #5e199d;

$gray-color: #f4f4f4;
