$black-color: #000000;
$white-color: #ffffff;

$blue-color: #1f3f68;
$blue-color-light: #316099;
$blue-color-light-x1: #356ead;
$blue-color-light-x1: #3481d7;
$blue-color-light-x2: #42a5f5;
$blue-color-light-x3: #5a98d0;
$blue-color-light-x4: #64b5f6;
$blue-color-light-x5: #98c3e8;
$blue-color-light-x6: #98d0fc;

$yellow-color: #fff8e1;

$red-color: #872727;
$red-color-light: #eb5757;

$purple-color: #af6ced;
$purple-color-light: #5e199d;
