mixin Project
  section.projectSec
    .container
      .projectSec__head
        p.projectSec__title Our Finished Project
        p.projectSec__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .projectSec__slider.slider
        p.slider__title Smart Home Installation
        p.slider__subtitle In Muarakana Housing Estate
      .projectSec__collection.collection
        .collection__item.collection__item--app
          p.collection__title Sparklite App
          p.collection__subtitle Marketplace
        .collection__item.collection__item--car
          p.collection__title Car-Rapetition App
          p.collection__subtitle Board

