@import '../../../styles/variables';

.projectSec {
  padding: 5rem 0 19.2rem;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10.8rem;
  }

  &__title {
    max-width: 22.7rem;

    font-size: 3.6rem;
    line-height: 4.6rem;
    letter-spacing: 0.05rem;
  }

  &__text {
    max-width: 54rem;

    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.05rem;
    text-align: justify;

    opacity: 0.6;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  min-height: 41.7rem;
  padding: 4.8rem;
  margin-bottom: 9.6rem;
  border-radius: 1rem;

  color: $white-color;

  background-image: url('../assets/img/slider.png');

  &__title {
    margin-bottom: 0.8rem;

    font-size: 2.8rem;
    line-height: 4.6rem;
    letter-spacing: 0.05em;
  }

  &__subtile {
    font-size: 1.6rem;
    line-height: 4.6rem;
    letter-spacing: 0.05em;
    color: $white-color;

    opacity: 0.8;
  }
}

.collection {
  display: flex;
  gap: 9.6rem;

  &__item {
    max-width: 42.2rem;
    min-height: 41.7rem;
    width: 100%;
    padding: 2.4rem 3.2rem;
    border-radius: 1rem;

    color: $white-color;

    background-repeat: no-repeat;

    &--app {
      background-image: url('../assets/img/spark.png');
    }

    &--car {
      background-image: url('../assets/img/repetition.png');
    }
  }

  &__title {
    font-size: 2.8rem;
    line-height: 4.6rem;
    letter-spacing: 0.05rem;
  }

  &__subtitle {
    font-size: 1.6rem;
    line-height: 4.6rem;
    letter-spacing: 0.05rem;
  }
}

@media (max-width: 992px) {
  .projectSec {
    flex-wrap: wrap;
    padding: 5rem 0 8rem;

    &__head {
      flex-wrap: wrap;
      margin-bottom: 4rem;
    }

    &__title {
      max-width: unset;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }

    &__text {
      max-width: unset;
    }
  }

  .slider {
    margin-bottom: 5rem;
  }

  .collection {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
}

@media (max-width: 768px) {
  .projectSec {
    padding: 5rem 0 5rem;

    &__title {
      font-size: 3rem;
    }

    &__text {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  .slider {
    padding: 3rem;

    &__title {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
  }

  .collection {
    &__item {
      padding: 2.4rem;
    }

    &__title {
      font-size: 2.2rem;
      line-height: 3.2rem;
    }

    &__subtitle {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 576px) {
  .slider {
    padding: 2rem;

    &__title {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}
