mixin Title(title)
  section.title
    .title__bg
      .container
        .title__wrap
          .title__title= title
          .title__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
