include ../libs/_libs
include ../components/index

doctype html
html(lang="en")
  include ../_head
  body
    p= buildTime + commitHash + version
    +Header
    main.main
      +Promo
      +WhatDo
      +Project
      +Client
      +Footer
