@import '../../../styles/variables';

.btn {
  height: 5.6rem;
  padding: 0.5rem 4.8rem;
  border: none;
  border-radius: 1rem;
  min-width: 220px;

  font-family: 'Gilroy';
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: $white-color;

  text-align: center;
  letter-spacing: 0.04rem;

  background-color: $blue-color-light-x4;
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
  }

  &:active {
    box-shadow: unset;
  }
}

@media (max-width: 992px) {
  .btn {
    height: 4rem;
    padding: 0.3rem 2.8rem;
    min-width: 175px;
    font-size: 1.4rem;
  }
}
