mixin Footer(page)
  footer.footer
    .footer__wrap(class= `footer__wrap--${page}`)
      .footer__bg
        .container
          .footer__content.content
            .content__left
              h2.content__title Intersted to woek with our team?
              p.content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            .content__right
              +CommonBtn('Let’s Talk', 'content')
      .footer__contacts.contacts
        .contacts__bg.contacts__bg--blog
          .container
            .contacts__content
              .contacts__left
                .contacts__logo
                  .contacts__img
                    +image('logo-footer', 'footer')
                  p Afrianska
                .contacts__desc
                  p A.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .contacts__phone
                  p T.
                  a(href="tel:6281273134321") +62-812-7313-4321
                .contacts__mail
                  p E.
                  a(href= "mailto:hello.afrian@gmail.com") hello.afrian@gmail.com
              .contacts__right
                .contacts__about
                  .contacts__title
                    p About US
                  ul.contacts__links.reset-list
                    li
                      a(href= 'blog.html') About
                    li
                      a(href= 'contact.html') What We Do
                    li
                      a(href= '#') Project
                    li
                      a(href= '#') How It Work With Us
                .contacts__follow
                  .contacts__title
                    p Follow US
                  ul.contacts__links.reset-list
                    li
                      a(href= '#') Instagram
                    li
                      a(href= '#') Facebook
                    li
                      a(href= '#') LinkedIn
                    li
                      a(href= '#') Youtube
            .contacts__rights
              p 2019 © Afrianska. All rights reserved.
