@import '../../../styles/variables';

.footer {
  &__wrap {
    max-width: 136.6rem;
    margin: 0 auto;
    margin-top: -1px;
    padding-right: 9.6rem;

    color: $white-color;

    &--main {
      background-color: $blue-color-light-x4;
    }
  }

  &__bg {
    position: relative;

    border-top-right-radius: 20rem;
    padding: 9.1rem 0 10rem;

    background-color: $blue-color-light;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;

      max-width: 107.3rem;
      width: 100%;
      height: 1px;

      background-color: $white-color-light-X1;
    }
  }
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18.8rem;

  &__left {
    width: 100%;
    max-width: 50rem;
    padding-left: 4.8rem;
  }

  &__title {
    max-width: 31.9rem;
    margin-bottom: 3.2rem;

    font-size: 3.6rem;
    line-height: 4.6rem;
    letter-spacing: 0.18rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.08rem;
    color: $white-color-light;
  }
}

.contacts {
  color: $white-color;

  &__content {
    display: flex;
    justify-content: flex-start;
    gap: 14rem;
    margin-bottom: 0.5rem;
  }

  &__bg {
    margin-top: -1px;
    padding: 9.7rem 0 6.8rem;

    background-color: $blue-color-light;

    &--blog {
      padding: 9.7rem 0 6.4rem;
    }
  }

  &__left {
    width: 100%;
    padding-left: 4.8rem;
    max-width: 30.8rem;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    max-width: 18.9rem;
    align-items: center;
    gap: 1.59rem;
    margin-bottom: 3.2rem;

    font-size: 2.8rem;
    line-height: 4.6rem;
    letter-spacing: 0.1rem;
  }

  &__img {
    width: 48px;
    height: 32px;
  }

  &__desc {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: flex-start;
    gap: 2.1rem;

    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.08rem;
  }

  &__phone {
    display: flex;
    justify-content: flex-start;
    gap: 2.3rem;
    margin-bottom: 3.2rem;

    letter-spacing: 0.17rem;
    line-height: 1.6rem;
  }

  &__mail {
    display: flex;
    justify-content: flex-start;
    gap: 2.2rem;
    margin-bottom: 6.4rem;

    letter-spacing: 0.17rem;
  }

  &__phone a,
  &__mail a {
    font-size: 1.6rem;
    letter-spacing: 0.17rem;
    line-height: 1.6rem;
    color: $white-color;

    transition: all 0.2s linear;

    &:hover {
      color: $blue-color-light-x8;
    }
  }

  &__rights {
    padding-left: 3.4rem;

    font-size: 1.6rem;
    letter-spacing: 0.08rem;
    color: $white-color-light-X2;
  }

  &__right {
    display: flex;
    justify-content: flex-start;
    gap: 8.4rem;
    max-width: 34rem;
    width: 100%;
  }

  &__about,
  &__follow {
    max-width: 16.3rem;
  }

  &__title {
    margin-bottom: 3rem;

    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.05rem;

    & a {
      color: $white-color;

      transition: all 0.2s linear;

      &:hover {
        color: $blue-color-light-x8;
      }
    }
  }
}

.btn__content {
  margin-top: 0.4rem;
}

@media (max-width: 992px) {
  .contacts {
    &__content {
      gap: unset;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__wrap {
      padding-right: unset;
    }

    &__bg {
      padding: 5rem 0 5rem;
      border-radius: unset;
    }
  }

  .content {
    &__title {
      margin-bottom: 3rem;

      font-size: 2.6rem;
      line-height: 3rem;
    }
  }

  .contacts {
    &__bg {
      padding: 5rem 0 5rem;
    }

    &__rights {
      text-align: center;
    }
  }
}

@media (max-width: 655px) {
  .contacts {
    &__content {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: 576px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    &__left {
      max-width: unset;
    }

    &__title {
      max-width: unset;
      text-align: center;
    }

    &__text {
      text-align: justify;
    }
  }
}

@media (max-width: 357px) {
  .contacts {
    &__right {
      gap: 3rem;
    }
  }
}
